In [44]:
import pandas as pd
df=pd.read_csv("song_metadata.csv", encoding="latin1")
from pandas import *

In [45]:
titles = list(df["title"])

In [46]:
years = list(df["year"])

In [47]:
df["love"] = [1 if "love" in str(i).lower() else 0 for i in titles]

In [48]:
df2=df[df.year != 0]

In [49]:
loves = list(df["love"])

In [50]:
df3 = df2[["title", "year", "love"]].copy()
df3 = df3.groupby(['year', 'love']).count()
df3 = df3.reset_index()
df3

     year  love  title
0    1926     0      2
1    1927     0      3
2    1929     0      1
3    1930     0      2
4    1934     0      1
5    1935     0      2
6    1936     0      1
7    1940     0      2
8    1947     0      2
9    1950     1      1
10   1953     0      4
11   1954     0      1
12   1955     0      1
13   1956     0      5
14   1956     1      2
15   1957     0      1
16   1958     0      6
17   1959     0      8
18   1959     1      1
19   1960     0      7
20   1960     1      2
21   1961     0      7
22   1962     0      4
23   1963     0     15
24   1964     0     13
25   1965     0      8
26   1966     0     11
27   1966     1      1
28   1967     0     26
29   1967     1      3
..    ...   ...    ...
81   1995     1      5
82   1996     0    104
83   1996     1      5
84   1997     0    128
85   1997     1      2
86   1998     0    147
87   1998     1      4
88   1999     0    166
89   1999     1     12
90   2000     0    185
91   2000     1      7
92   2001     0    214
93   2001     1      3
94   2002     0    193
95   2002     1      5
96   2003     0    244
97   2003     1     10
98   2004     0    263
99   2004     1      7
100  2005     0    296
101  2005     1      8
102  2006     0    314
103  2006     1      6
104  2007     0    274
105  2007     1     11
106  2008     0    242
107  2008     1     11
108  2009     0    245
109  2009     1      5
110  2010     0     64

[111 rows x 3 columns]

df3

In [51]:
number = list(df3["title"])
year = list(df3["year"])

a x b

In [55]:
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.graph_objs import *

# Create and style traces
trace0 = go.Scatter(
    x = year,
    y = number,
    line = dict(
        color = ('rgb(205, 12, 24)'),
        width = 4)
)
data = [trace0]

# Edit the layout
layout = dict(title = 'Usage of the Word \"Love\" in Song Titles',
              xaxis = dict(title = 'Year'),
              yaxis = dict(title = 'Number of Occurrences'),
              )

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='styled-line')